*{
    box-sizing: border-box;    
}
body{  
    background-image: url(fondos1.jpg);
    background-repeat: no-repeat;
    background-size: cover;  
    margin: 0;
    font-family: sans-serif, Arial, Helvetica, sans-serif;;
}
header {
    background-color: rgb(8, 42, 196, 0.5);
    padding: 10px;
    text-align: center;
    font-size: 15px;
    color: rgb(211, 226, 168);
}
nav {
    float: left;
    width: 100%;
    height: 50px; 
    background: rgb(11, 93, 131, 0.3);
    padding: 5px;
    color: rgb(170, 235, 243);
}  
nav ul{
    list-style-type: none;
    padding: 0;
    display: flex;
    justify-content: space-around;
}  
article {
    float: left;
    padding: 10px;
    width: 100%;    
    height: 100%; 
} 
section::after {
    content: "";
    display: flex;
    clear: both;
}
footer {
    background-color: rgb(42, 7, 245, 0.7);
    padding: 5px;
    text-align: center;
    color: white;    
}
h1, legend {
    color: rgb(210, 219, 79);
    text-align: center;    
}
.formulario, h1 {        
    width: 500px;   
    max-width: 100%;
    margin: auto;
    margin-top: 10px;
    padding: 5px;
    box-shadow: 0 0 20px 1px rgb(17, 9, 9);
    position: relative;
}
.valido-nombre, .valido-apellido, .valido-correo,.valido-repite-correo,
.valido-contrasena, .valido-repite-contrasena {    
    margin-top: -10px;
    color: rgb(13, 224, 13);
}
.error-nombre, .error-apellido, .error-correo, .error-contrasena,
.error-repite-correo, .error-repite-contrasena{
    color: rgb(206, 8, 8);
    margin-top: -10px;
}
input {
    display: block;
    width: 100%;
    font-size:medium;  
    color: white;
    padding: 10px;
    border: 1px solid rgb(248, 242, 242);
    margin-bottom: 10px;
    background: rgba(94, 108, 160, 0.7);
}
label {
    padding-left: 15px;
    color: rgb(245, 235, 148);      
}

.btn-mandar{    
    align-self: auto;
    background: rgba(36, 43, 43, 0.7);
    color: rgb(192, 241, 12);
    margin-top: 10px;
    padding: 15px 20%;
    border:solid 1px;
    cursor: pointer; 
    border-radius: 10px; 
    width: 99%;     
}
.contenedor{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 900px;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: rgba(65, 62, 62, 0.5);
    z-index: 1;
    visibility: hidden;
}
.modal{
    width: 400px;
    height: 400px;
    padding: 10px;
    border-radius: 10px;
    background-color: #fff;
    text-align: center;
}
button {
    padding: 10px 20px;
    margin-top: 30px;
    margin-left: 30px;
    line-height: 30px;
    background-color: rgb(112, 175, 17);
    border-radius: 10px;
    font-size: medium;
    color: white;
    cursor: pointer;
}
button:hover {
    background-color: rgb(45, 41, 240);
}
@media (max-width: 600px) {
    nav, article {
      width: 100%;
      height: auto;      
    }
}